/* GAME - HEADER */

.header {
  margin-left: -1000px;
}

.header h1 {
  font-weight: bold;
  font-size: 70px;
  margin-top: 15px;
}

.logo {
  float: left;
  height: 100px;
}

.logoArea {
  margin-top: -7px;
}
