/* MAIN - APP */
body {
  background-color: aliceblue;
}

.App {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: black;
  height: 120px;
  border: 1px solid black;
  border: 2px solid black;
  background-image: url("./images/header/header.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.disabled-link {
  pointer-events: none;
  cursor: default;
  color: Gray;
}

/* GAME - CARD */
.gamecard {
  border-radius: 30px;
}
